<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href='/static/style.css' />
	<title>Youtube-Dl Progress</title>
	<!-- Bootstrap bootstrap-4.1.3-dist -->
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
	 crossorigin="anonymous">
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/toastr.min.js"></script>
	<link href="/static/css/toastr.min.css" rel="stylesheet" />


	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<br />
	<div class="container theme-showcase" role="main">

		<div class="card">
			<div class="card-body">
				<form method="post" action="{{ url_for('videoAddProper') }}">
					<div class="form-group">
						<label for="videourl">Video:</label>
						<input class="form-control" type="text" name="videourl" placeholder="Enter Video Url" />
					</div>
					<button class="btn btn-secondary" type="submit"><span class="fas fa-download" aria-hidden="true"></span> Download</button>
				</form>
			</div>
		</div>

		<div class="card">
			<div class="progress">
				<div id="progress" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0"
				 aria-valuemax="100" style="width: 0%"></div>
			</div>
		</div>
		<div class="card" id="mainQueue">
			{% if queue %}
			<ul class="list-group">
				{% for item in queue %} {% if queue[item]['status'] == 'error' %}
				<li class="list-group-item list-group-item-danger">{{queue[item]['url']}} ({{queue[item]['filename']}})</li>
				{% elif queue[item]['status'] == 'finished' %}
				<li class="list-group-item list-group-item-success">{{queue[item]['filename']}}</li>
				{% elif queue[item]['status'] == 'downloading' %}
				<li class="list-group-item list-group-item-info">{{queue[item]['filename']}}</li>
				{% elif queue[item]['status'] == 'queued' %}
				<li class="list-group-item list-group-item-info">{{queue[item]['url']}}</li>
				{% endif %} {% endfor %}
			</ul>
			{% else %}
			<div class="card">
				<div class="card-body">
					No Files in Queue
				</div>
			</div>
			{% endif %}
		</div>


		{% if added %} {% if added != 'NONE' %}
		<div class="card">
			<div class="card-body">
				Added: {{added}}
			</div>
		</div>
		{% endif %} {% endif %}

		<div class="card">
			<div class="card-body">
				<a class="btn btn-secondary" href="{{ url_for('forceSave') }}"><span class="fas fa-save" aria-hidden="true"></span>
					Force Save</a>
				<a class="btn btn-secondary" href="{{ url_for('forceStart') }}"><span class="fas fa-play" aria-hidden="true"></span>
					Force Start</a>
				<a class="btn btn-secondary" href="{{ url_for('removeFinished') }}"><span class="fas fa-trash" aria-hidden="true"></span>
					Clear Completed</a>
				<a class="btn btn-secondary" href="{{ url_for('shutdownAll') }}"><span class="fas fa-stop" aria-hidden="true"></span>
					End Program</a>
			</div>
		</div>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="static/js/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="static/js/bootstrap.min.js"></script>
		<script>
			function deleteQueue(item_id) {
				var removeUrl = "/youtube/remove/" + item_id
				//console.log("removeUrl: " +removeUrl)
				$.get(removeUrl, function (data) {
					if (data == "OK") {
						//console.log(data)
						$.get("/youtube/queue", function (data) {
							//$("#mainQueue").html(data);
							$("#mainQueue .list-group").replaceWith(data);
							var downloadedBytes = $('#db').text();
							var totalBytes = $('#tb').text();
							var percentBytes = Math.round((downloadedBytes / totalBytes) * 100);
							//var percentBytes = Math.round($('#pc').text()); //
							if (isNaN(percentBytes)) {
								percentBytes = 100;
							}
							var speedBytes = Math.round($('#sb').text());
							$("#pc").html(percentBytes + '%');
							$("#progress").css('width', percentBytes + '%');
							$("#progress").html(percentBytes + '%');
							document.title = 'Youtube-Dl ' + percentBytes + '%';
							$('#db').html(formatBytes(downloadedBytes, 1));
							$('#tb').html(formatBytes(totalBytes, 1));
							$('#sb').html(formatBytes(speedBytes, 1));
						});
					}
				});
			}

			function rerunQueue(item_id) {
				var removeUrl = "/youtube/retry/" + item_id
				//console.log("removeUrl: " +removeUrl)
				$.get(removeUrl, function (data) {
					if (data == "OK") {
						//console.log(data)
						$.get("/youtube/queue", function (data) {
							$("#mainQueue").html(data);
							var downloadedBytes = $('#db').text();
							var totalBytes = $('#tb').text();
							var percentBytes = Math.round((downloadedBytes / totalBytes) * 100);
							//var percentBytes = Math.round($('#pc').text()); //
							if (isNaN(percentBytes)) {
								percentBytes = 100;
							}
							var speedBytes = Math.round($('#sb').text());
							$("#pc").html(percentBytes + '%');
							$("#progress").css('width', percentBytes + '%');
							$("#progress").html(percentBytes + '%');
							document.title = 'Youtube-Dl ' + percentBytes + '%';
							$('#db').html(formatBytes(downloadedBytes, 1));
							$('#tb').html(formatBytes(totalBytes, 1));
							$('#sb').html(formatBytes(speedBytes, 1));
						});
					}
				});
			}



			function formatBytes(bytes, decimals) {
				if (bytes == 0) return '0 Byte';
				var k = 1000; // or 1024 for binary
				var dm = decimals + 1 || 3;
				var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];
				var i = Math.floor(Math.log(bytes) / Math.log(k));
				return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
			}

			$(document).ready(function () {
				{% with messages = get_flashed_messages(with_categories = true) %}
				{% if messages %}

				toastr.options = {
					"closeButton": true,
					"debug": false,
					"newestOnTop": true,
					"progressBar": true,
					"positionClass": "toast-top-right",
					"preventDuplicates": false,
					"onclick": null,
					"showDuration": "300",
					"hideDuration": "1000",
					"timeOut": "5000",
					"extendedTimeOut": "1000",
					"showEasing": "swing",
					"hideEasing": "linear",
					"showMethod": "fadeIn",
					"hideMethod": "fadeOut"
				}
				console.log("executed a")
				{% for category, message in messages %}
				{% if category == 'error' %}
				toastr.error("{{ message }}");
				{% elif category == 'warn' %}
				toastr.warning("{{ message }}");
				{% elif category == 'info' %}
				toastr.info("{{ message }}");
				{% elif category == 'success' %}
				toastr.success("{{ message }}");
				{% endif %}
				console.log("executed b")
				{% endfor -%}
				{% endif %}
				{% endwith %}
			});

			$(document).ready(function () {
				var progresspump = setInterval(function () {
					//console.log("tick")
					/* query the completion percentage from the server */
					/*$.get("/youtube/percent", function(data){
						$("#progress").css('width',data+'%');
						$("#progress").html(data+'%');
					})*/
					/* query the completion percentage from the server */
					$.get("/youtube/queue", function (data) {
						$("#mainQueue").html(data);
						var downloadedBytes = $('#db').text();
						var totalBytes = $('#tb').text();
						var percentBytes = Math.round((downloadedBytes / totalBytes) * 100);
						//var percentBytes = Math.round($('#pc').text()); //
						if (isNaN(percentBytes)) {
							percentBytes = 100;
						}
						var speedBytes = Math.round($('#sb').text());
						$("#pc").html(percentBytes + '%');
						$("#progress").css('width', percentBytes + '%');
						$("#progress").html(percentBytes + '%');
						var numitems = $("#mainFilesList li").length;
						var numfinitems = $("#mainFilesList .list-group-item-success").length;
						document.title = 'Youtube-Dl ' + percentBytes + '% (' + numfinitems + ' of ' + numitems + ' files)';
						$('#db').html(formatBytes(downloadedBytes, 1));
						$('#tb').html(formatBytes(totalBytes, 1));
						$('#sb').html(formatBytes(speedBytes, 1));
					})
				}, 1000);
			});

		</script>
</body>
<html>