<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>选择文件夹</title>
    <link rel="stylesheet" type="text/css"
          href="http://static.mrdvh.info/static/style/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css"
          href="http://static.mrdvh.info/static/style/common.css">
    <link rel="stylesheet" type="text/css"
          href="http://static.mrdvh.info/static/style/skin/base/app_setting.css">
    <link rel="stylesheet" type="text/css"
          href="http://static.mrdvh.info/static/style/skin/win10.css">
    <script type="text/javascript" src="http://static.mrdvh.info/static/js/lib/seajs/sea.js"></script>
    <script type="text/javascript" src="http://static.mrdvh.info/static/js/lib/jquery-1.8.0.min.js"></script>
    <script type="text/javascript">
        var baseUrl = 'http://static.mrdvh.info/';
        seajs.config({
            base: baseUrl + "static/js/",
            preload: [
                baseUrl + "static/style/font-awesome/css/font-awesome.css",
                baseUrl + "static/style/common.css",
                baseUrl + "static/style/skin/base/app_setting.css",
                baseUrl + "static/style/skin/win10.css",
                baseUrl + "?share/commonJs",
                "lib/jquery-1.8.0.min"
            ]
        });
        seajs.use('app/src/api/default/main', function () {
            $.addStyle('body .aui-outer .aui-title{border-bottom: 1px solid #eee;}');
            var parse = $.parseUrl(baseUrl);
            G.webHost = baseUrl.replace(parse.relative, '/');
            G.appHost = baseUrl + "?";
            G.appRoot = baseUrl;
            var imageExt = "png|jpg|bmp|gif|jpeg";
            var config = {
                type: 'folder',            //选择类型；file|folder|all
                single: false,            //是否单个
                allowExt: imageExt,        //类型为文件时; 此配置生效; 多个用|隔开;
                firstPath: '{groupPath}:1/video/',        //默认进入的目录
                makeUrl: false,            //生成文件url

                //对话框配置
                title: "选择文件夹",        //标题文字
                width: 900,
                height: 500,
                top: '50%'
            }
            core.api.pathSelect(config, function (list) {
                var str = jsonEncode(list);
                str = str.replace('["{groupPath}:1', "").replace('"]', '');
                window.opener.setVideoPath(str);
                window.close();
            });
        });
    </script>
</head>
<body>

</body>
</html>