<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href='./static/style.css'/>
    <link rel="icon" href="./static/favicon.ico" type="image/x-icon"/>
    <title>搬运组扒源工具</title>
    <!-- Bootstrap bootstrap-4.1.3-dist -->
    <link href="./static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
          crossorigin="anonymous">
    <link href="./static/css/toastr.min.css" rel="stylesheet"/>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<body>
<div class="container theme-showcase" role="main" id="mainpage">
    <el-card class="box-card">
        <div class="item">
            <i class="el-icon-s-home" style="margin-right: 1%;">搬运组扒源工具</i>
            <el-link :underline="false" icon="el-icon-film" href="http://www.mrdvh.info" target="_blank">视频源网站
            </el-link>
        </div>
    </el-card>
    <el-card class="box-card" style="margin-top: 1%">
        <div slot="header" class="clearfix">
            <span>扒源</span>
        </div>
        <div class="item">
            <el-row>
                <el-col :span="24">
                    <el-input type="text" placeholder="视频链接" aria-label="请输入视频链接"
                              aria-describedby="button-addon2"
                              v-model="inputurl"></el-input>
                </el-col>
            </el-row>
            <el-row style="margin-top: 1%">
                <el-col :span="11" style="margin-right: 2%">
                    <el-cascader style="width:100%"
                                 v-model="selectedOptions"
                                 placeholder="请选择文件夹"
                                 :options="cascaderData"
                                 :change-on-select="true"
                                 @active-item-change="handleItemChange"
                                 filterable
                                 :props="{value: 'name',label: 'name',children: 'children'}">
                    </el-cascader>
                </el-col>
                <el-col :span="12" style="margin-left: 2%">
                    <el-input id="videoName" placeholder="保存的文件名" type="text"
                              aria-label="请输入保存的文件名"
                              v-model="videoNames" style="width: 100%">
                    </el-input>
                </el-col>
            </el-row>
            <el-row style="margin-top: 1%">
                <el-col :span="24">
                    <el-button type="primary" icon="el-icon-download" v-on:click="addURL">开始扒源</el-button>
                </el-col>
            </el-row>
        </div>
    </el-card>

    <el-card class="box-card" style="margin-top: 1%">
        <div slot="header" class="clearfix">
            <span>扒封面图</span>
        </div>
        <div class="item">
            <p>获取封面图功能只支持油管，有其他的网站需要请私聊我</p>
            <p>使用方法：<br/>1：填写油管视频的链接<br/>2：点击下面的俩按钮<br/><b style="font-size: 16px">如果高清版封面没有图片，请点击低清版。</b></p>
            <el-button type="primary" icon="el-icon-download" onclick="getMaxCover()">获取高清版封面图</el-button>
            <el-button type="primary" icon="el-icon-download" onclick="getHqCover()">获取低清版封面图</el-button>
        </div>
    </el-card>

    <el-card class="box-card" style="margin-top: 1%" id="mainQueue" v-if="downloadQueue && page=='download'">
        <div slot="header" class="clearfix">
            <span class="demonstration" style="line-height: 40px">扒源任务列表</span>
            <el-button type="primary" style="float: right;" icon="el-icon-delete"
                       v-on:click="clearcompleted">清空已完成
            </el-button>
        </div>
        <div class="item">
            <ul class="list-group">
                <template v-for="item in downloadQueue">
                    <!-- ERROR -->
                    <li class="list-group-item list-group-item-danger" v-if="item.status == 'error'">
                        任务:[[item.url]] ([[item.filename]]) - 下载失败
                        <span class="float-right">
                            <el-button type="primary" icon="el-icon-refresh-right"
                                       v-on:click='rerunQueue(item.id)'>重试
                            </el-button>
                             <el-button type="primary" icon="el-icon-delete"
                                        v-on:click='deleteQueue(item.id)'>删除
                            </el-button>
                        </span>
                        <br/>
                        错误信息:[[item.error]]
                    </li>
                    <!-- FINISHED -->
                    <li class="list-group-item list-group-item-success" v-else-if="item.status == 'finished'">
                        任务:[[item.filename]] - 转码中
                    </li>
                    <!-- COMPLETED -->
                    <li class="list-group-item list-group-item-success" v-else-if="item.status == 'completed'">
                        任务:[[item.filename]] - 已完成
                        <span class="float-right">
                            <el-button type="primary" icon="el-icon-delete"
                                       v-on:click='deleteQueue(item.id)'>删除
                            </el-button>
                        </span>
                    </li>
                    <!-- DOWNLOADING -->
                    <li class="list-group-item list-group-item-info" v-else-if="item.status == 'downloading'">
                        任务:[[item.filename]]- 下载中<br/>
                        已下载:<span id="db">[[formatBytes(item.dbytes)]]</span>&nbsp;&nbsp;总大小:
                        <span id="tb">[[formatBytes(item.tbytes)]]</span>&nbsp;&nbsp;下载速度:<span
                            id="sb">[[item.speed]]</span>&nbsp;<br/>
                        <el-progress style='margin-top: 5px' :text-inside="true" :stroke-width="24"
                                     :percentage="[[formatProgress(item.percent)]]">
                        </el-progress>
                    </li>
                    <!-- QUEUED -->
                    <li class="list-group-item list-group-item-info" v-else-if="item.status == 'queued'">
                        任务:[[item.url]] - 数据查询中
                        <span class="float-right">
                            <el-button type="primary" icon="el-icon-delete"
                                       v-on:click='deleteQueue(item.id)'>删除
                            </el-button>
                        </span>
                    </li>
                    <!-- OTHER -->
                    <li class="list-group-item list-group-item-danger" v-else>[[item.url]]
                        任务:[[item.filename]] - 渲染错误
                    </li>
                </template>
            </ul>
        </div>
    </el-card>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="./static/js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="./static/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="./static/js/toastr.min.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script type="text/javascript">
    function getMaxCover() {
        let url = vm.inputurl;
        if (url.indexOf('youtube') != -1 || url.indexOf('youtu.be') != -1) {
            if (url.endsWith('/')) {
                url = url.substring(0, url.length)
            }
            url = url.substring(url.lastIndexOf("/") + 1).replace("watch?v=", "").replace('&feature=youtu.be', '');
            window.open("https://res.mrdvh.info/vi/" + url + "/maxresdefault.jpg");
        } else {
            toastr.error("视频链接有误，请检查后重试");
        }
    }

    function getHqCover() {
        let url = vm.inputurl;
        if (url.indexOf('youtube') != -1 || url.indexOf('youtu.be') != -1) {
            if (url.endsWith('/')) {
                url = url.substring(0, url.length)
            }
            url = url.substring(url.lastIndexOf("/") + 1).replace("watch?v=", "").replace('&feature=youtu.be', '');
            window.open("https://res.mrdvh.info/vi/" + url + "/hqdefault.jpg");
        } else {
            toastr.error("视频链接有误，请检查后重试");
        }
    }

</script>
<script>
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": true,
        "progressBar": true,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    };
    var vm = new Vue({
        el: '#mainpage',
        data: {
            downloadQueue: {},
            folderView: {},
            inputurl: "",
            videoPaths: "",
            videoNames: "",
            added: [],
            progressStyle: {width: '0%'},
            video: "",
            page: "download",
            search: "",
            lastFolderPing: 30,
            cascaderData: [],
            selectedOptions: [],
            downloadQueueData: {}
        },
        methods: {
            setPage: function (pageName) {
                vm.page = pageName
            },
            isPage: function (pageName) {
                if (vm && vm.page) {
                    return (vm.page == pageName)
                } else {
                    return false
                }
            },
            safeName: function (url) {
                if (vm.downloadQueue[url].canon) {
                    return vm.downloadQueue[url].canon
                } else if (vm.downloadQueue[url].filename) {
                    return vm.downloadQueue[url].filename
                } else {
                    return vm.downloadQueue[url].url
                }
            },
            getDownloadByID: function (id) {
                for (item in vm.downloadQueue) {
                    if (vm.downloadQueue[item].id == id) {
                        return vm.downloadQueue[item]
                    }
                }
            },
            getFolderByID: function (id) {
                for (item in vm.folderView) {
                    if (vm.folderView[item].id == id) {
                        return vm.folderView[item]
                    }
                }
            },
            refresh: function (event) {
                $.get("{{ url_for('videoJSONQueue') }}", function (data) {
                    vm.downloadQueue = data
                    var length = 0
                    var runningPercent = 0
                    for (item in data) {
                        if (data[item].percent) {
                            length++;
                            runningPercent += data[item].percent;
                        }
                        if (data[item].status == 'queued') {
                            length++;
                        }
                    }
                    var calcPercent = Math.round((runningPercent / length)) + "%";
                    vm.progressStyle.width = calcPercent;
                });
                vm.lastFolderPing++;
                if (vm.lastFolderPing > 30) {
                    vm.lastFolderPing = 0;
                    vm.refreshFolderList(event)
                }
            },
            refreshFolderList: function (event) {
                $.get("{{ url_for('getAllFilesList') }}", function (data) {
                    vm.folderView = data
                });
            },
            save: function (event) {
                $.get("{{ url_for('forceSave') }}", function (data) {
                    console.log(data)
                });
            },
            start: function (event) {
                $.get("{{ url_for('forceStart') }}", function (data) {
                    console.log(data)
                });
            },
            clearcompleted: function (event) {
                $.get("{{ url_for('removeFinished') }}", function (data) {
                    if (data == "OK") {
                        toastr.success("已清空所有已完成的任务")
                        vm.refresh()
                    }
                });
            },
            shutdown: function (event) {
                $.get("{{ url_for('shutdownAll') }}", function (data) {
                    console.log(data)
                });
            },
            addURL: function (event) {
                if (vm.inputurl == null || vm.inputurl == "") {
                    toastr.error("视频链接不能为空");
                    return;
                }
                vm.videoPaths = '/video/';
                for (item in vm.selectedOptions) {
                    vm.videoPaths += vm.selectedOptions[item] + "/";
                }
                console.log("URL");
                console.log(vm.inputurl);
                console.log(vm.videoPaths);
                console.log(vm.videoNames);
                console.log("Split");
                console.log(vm.inputurl.split(" "));
                vm.added.push(vm.inputurl.split(" "));
                $.post("{{ url_for('videoAddProper') }}", {
                    videourl: vm.inputurl,
                    videoPaths: vm.videoPaths,
                    videoNames: vm.videoNames
                }, function (data) {
                    console.log(data);
                    for (item in vm.added) {
                        console.log(vm.added[item]);
                        toastr.success("扒源任务添加成功")
                    }
                    vm.added = []
                });
                vm.inputurl = "";
                vm.videoPaths = "";
                vm.videoNames = "";
            },
            deleteQueue: function (id) {
                console.log(id)
                var videoName = vm.getDownloadByID(id).canon;
                console.log(videoName);
                $.get("/youtube/remove/" + id, function (data) {
                    if (data == "OK") {
                        toastr.success("已删除扒源任务")
                        vm.refresh()
                    }
                });
            },
            rerunQueue: function (id) {
                var targetURL = false
                targetURL = vm.getDownloadByID(id).url
                if (targetURL) {
                    $.get("/youtube/retry/" + id, function (data) {
                        if (data == "OK") {
                            toastr.success("任务已开始重试")
                            vm.refresh()
                        }
                    });
                }
            },
            playQueue: function (id) {
                // First loop checks to see if the video is in the download queue
                var theVideo = vm.getDownloadByID(id)
                if (!theVideo) {
                    theVideo = vm.getFolderByID(id)
                }
                vm.video = "/youtube/video/play/" + theVideo.filename;
                vm.page = "video"
            },
            formatBytes: function (bytes, decimals) {
                if (bytes == 0) return '0 Byte';
                var k = 1000; // or 1024 for binary
                var dm = decimals + 1 || 3;
                var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];
                var i = Math.floor(Math.log(bytes) / Math.log(k));
                return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
            },
            formatPercent: function (percent) {
                return Math.floor(percent) + "%"
            },
            formatProgress: function (percent) {
                return Math.floor(percent)
            },
            clearSearch: function () {
                vm.search = ""
            },
            getFolder: function (folderName) {
                $.post("{{ url_for('getFolder') }}", {
                    folderName: folderName
                }, function (data) {
                    vm.cascaderData = data;
                });
            },
            handleItemChange(value) {
                console.log(value);
            }
        },
        delimiters: ['[[', ']]'],
        mounted: function () {
            this.getFolder("/video/");
            this.$nextTick(function () {
                var progresspump = setInterval(function () {
                    vm.refresh()
                }, 1000);
            });
        },
        computed: {
            filteredFolderView() {
                var permittedKeys = Object.keys(vm.folderView).filter(item => {
                    return vm.folderView[item].canon.toLowerCase().includes(this.search.toLowerCase())
                });
                return permittedKeys.map(function (key) {
                    return vm.folderView[key]
                });
            }
        }
    });
</script>
</body>
</html>